.GroupCard {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    
    color: inherit;
    text-decoration: none;
    width: 800px;
}

.GroupCard img {
    height: 140px;
    width: 200px;
}

.GroupCard > div {
    width: 580px;
}

.GroupCard {
    border-top: 2px solid #cccccc;
}